
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}


.cards-section{
display:flex;
justify-content: center;
align-items: flex-start;
gap:30px;
padding:40px;
}

.card{
    width: 300px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 6px 30px rgba(0,0,0,0.15);
    padding-bottom: 20px;
}

.card img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.card h3 {
  margin: 15px;
  font-size: 22px;
}

.card p {
  margin: 0 15px 15px;
  font-size: 16px;
  color: #444;
}

/* Responsive for Mobile */
@media (max-width: 600px) {
  .cards-section {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}