body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;                /* activates grid layout */
  grid-template-columns: repeat(3, 1fr); 

    /* repeat(3, ...) means → create 3 columns
    1fr means → each column takes equal flexible space
    (fr = “fraction unit”) */
  gap: 20px;
}

.item {
  background-color: #5da3fa;
  color: white;
  padding: 30px;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  height: 120px;
}

.item:nth-child(4) {
  height: 250px;
}