.container{
    height: 200px;
    background-color: #f4f4f4;

    display:flex;
    align-items: center;
    justify-content: center;

/* justify-content: flex-start;
justify-content: flex-end;
justify-content: space-between;
justify-content: space-around;
justify-content: space-evenly; */

    gap: 10px;
}

.box{
    height: 50px;
    width: 50px;
    background: aqua;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;


}