*{
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, sans-serif ;
}

.hero{
    display :flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    background-color: #f4f4f4;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
}


.hero-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-img {
  width: 45%;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 700px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-img {
    width: 90%;
    margin-top: 20px;
  }
}