body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 30px;
  background: #fafafa;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.masonry{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap:20px
}

.card{
      border-radius: 12px;
    overflow: hidden;
}
.card img {
  width: 100%;
  border-radius: 12px;
  display: block; 
}
