*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 30px;
    background-color: #333;
    color: white;
}

.nav-links{
    display: flex;
    list-style: none;
    align-items: center;
    gap:30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: rgb(61, 177, 219);
}



/* hero */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 40px 60px;
    background-color: #f4f4f4;
}

.hero-text{
    width: 50%;
}

.hero-img {
    width: 45%;
    border-radius: 20px;
}

.hero-text button{
    margin: 20px 10px 0 0;
    padding: 10px;
    background-color: rgb(87, 46, 223);
    color:white;
    border: 0px;
    border-radius: 10px;
    cursor:pointer;
}

.hero-text button:hover{
    background-color: orangered;
}

/* Cards Section */
.cards-selection {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.card{
    width:300px;
    background: white;
    border-radius: 12px;
    padding-bottom: 20px;
    box-shadow: 0 6px 30px rgba(0,0,0,0.15);
}

.card img{
    width :100%;
    border-radius: 12px 12px 0 0;
}

.card h3 {
    margin: 15px;
}

.card p{
    margin: 0 15px 15px;
    color: #555;
}

/* Responsive */
@media (max-width: 600px) {
    .hero {
        flex-direction: column;
        text-align : center;
    }

    .hero-img {
        width: 70%;
        margin-top: 20px;
    }

    .cards-section {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}